@charset "UTF-8";

/* 관리자 페이지 */
.login_wrap {
	height: 100%;
	margin-top: 100px;
	text-align: center;
}
.login_wrap p {
	width: 400px;
	height: 60px;
	margin: auto;
	line-height: 60px;
}
.login_wrap p input[type="text"], .login_wrap p input[type="password"] {
	float: right;
	width: 300px;
	height: 50px;
	text-align: center;
	font-size: 16px;
}
.login_wrap p input[type="submit"] {
	clear: both;
	width: 400px;
	height: 60px;
}

.logged_in_wrap {
	width: 100%;
	height: 100%;
}
.logged_in_wrap .two_div_wrap {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.logged_in_wrap .two_div_wrap .two {
	width: 45%;
	height: 700px;
	padding: 20px;
	border: 2px solid #666;
	border-radius: 10px;
	background-color: #f6f6f6;
	box-shadow: 8px 8px 20px #ccc;
}

/* notice */
.content .notice {
	width: 80%;
	min-height: 200px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 10px;
	background-color: #f6f6f6;
	box-shadow: 8px 8px 20px #ccc;
}
.content .notice_list {
	margin-bottom: 100px;
}
.content .notice_list table {
	width: 100%;
	text-align: center;
}
.content .notice_list table th {
	height: 50px;
	background-color: #ecf0f1;
	border-bottom: 2px solid #34495e;
}
.content .notice_list table td {
	height: 50px;
	border-bottom: 1px solid #bdc3c7;
}
.content .notice_content #no_title {
	box-sizing: border-box;
	width: 90%;
	height: 40px;
	margin-left: 20px; 
	padding: 1 10px;
}
.content .notice_content #no_writer {
	box-sizing: border-box;
	width: 90%;
	height: 40px;
	margin-left: 5px; 
	padding: 1 10px;
}
.content .notice_content #no_content {
	box-sizing: border-box;
	width: 100%;
	min-height: 200px;
	padding: 10px 10px;
}
.content .notice_content label {
	margin-right: 5px;
}
.content .notice_content input[type="button"], .content .notice_content input[type="submit"] {
	box-sizing: border-box;
	width: 150px;
	height: 35px;
}